OPENAI_API_KEY=your_key

LANGCHAIN_API_KEY=your_key
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=FabBear

SIM_DATABASE_URL=postgresql+psycopg://fabbear_user:fabbear_pw@fabbear-db:5432/fabbear
BACKEND_DATABASE_URL=postgresql+psycopg://fabbear_user:fabbear_pw@fabbear-db:5432/fabbear
DATABASE_URL=postgresql://fabbear_user:fabbear_pw@localhost:5432/fabbear
INTERNAL_API_TOKEN=fabbear-internal-token-2024
SPRING_BASE_URL=http://fabbear-spring:8080
MLFLOW_TRACKING_URI=http://localhost:5500
QDRANT_URL=http://localhost:6333
WEBHOOK_MODE=true